
  <body>
    <a-scene cursor='rayOrigin: mouse; fuse: true; fuseTimeout: 0;'
          raycaster="objects: [clickhandler];"
          vr-mode-ui="enabled: false"
  		embedded
  	 arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: {{ .Params.marker_type_sets}};">
        <!-- Check if there is a sky -->
        {{ if .Params.sky }}
          <a-assets>
              <img id="sky" src="{{.Params.sky_image}}">

          </a-assets>
          <!-- Using the asset management system. -->
          <a-sky src="#sky"></a-sky>
        {{end}}
        <!-- Get some data before your process -->
        {{ $exhibition_type := .Params.exhibition_types}}
        {{ $artTypeExhibition := .Params.artType }}
        {{ $dynamic_annotations:= .Params.dynamic_annotations }}
        {{ range .RegularPages }}
            <!--  Get all the data from the exhibition item ref -->
            {{ $position := .Params.position_artwork }}
            {{ $size := .Params.size_artwork }}
            {{ $exhibition_marker_type_set := .Parent.Params.marker_type_sets }}
            {{ $marker_id := .Params.marker_id }}
            <!-- Get the index of the range to close off later on }}-->
            {{$range := .Site.RegularPages.Related .}}
            {{$len_range := len $range}}
            {{$last_len_range := sub $len_range 1 }}
            <!-- Now start fetching related content-->
            {{ range $index, $element := .Site.RegularPages.Related . }}
                  {{ if eq .Type "artworks"}}
                  <!-- Start printing Artworks and Dynamic annotations if relevant-->
                  {{ end}}
                      <!-- Assumption is there is only 1 artwork for each exhibition build-->
                      <!-- Range loops through related for each exhibition build, prints all related using if statement -->
                      {{ if eq .Type "artworks"}}
                          {{ if eq .Params.artType "2d"}}
                          <a-marker markerhandler type="{{$exhibition_type}}" value="{{$marker_id}}" id="{{$marker_id}}">
                            <a-image rotation="90 0 180" position="{{ $position }}" scale="{{ $size }}" src="/AR-expo/public/artworks/{{ .Params.model }}">
                            </a-image>

                            {{ else }}
                            <a-marker markerhandler type="{{$exhibition_type}}" value="{{$marker_id}}" smooth="true" smoothCount="20" id="{{$marker_id}}">
                              <a-entity position="{{ $position }}" scale="{{ $size }}" gltf-model="/AR-expo/public/artworks/{{ .Params.model }}">
                              </a-entity>
                          {{end}}
                      {{end}}
                      {{ if eq .Type "dynamic-annotations"}}
                      {{ $pin_id_name := .File.TranslationBaseName}}
                        <a-circle type="button" data-toggle="modal" data-target="#pin-{{ $marker_id }}-{{$pin_id_name}}"
                                  radius="1"
                                  position="{{.Params.position}}"
                                  rotation="-90 0 0"
                                  look-at="camera"
                                  material="color: blue; transparent: true; opacity: 0;"></a-circle>
                        <a-circle
                                  radius="0.1"
                                  position="{{.Params.position}}"
                                  rotation="-90 0 0"
                                  look-at="camera"
                                  material="color: red; transparent: true; opacity: 0.5;"></a-circle>
                      {{end}}
                      <!-- Close the marker when last related is reached-->
                      {{if eq $index $last_len_range}}
                        </a-marker>
                      {{end}}
                    {{ end}}
            {{ end }}
    <!-- add a simple camera -->
    <a-entity camera ></a-entity>
    <!-- add cursor entity if set true -->
    {{if .Params.dynamic_annotations }}
    <a-entity cursor="rayOrigin:mouse"></a-entity>
    {{end}}
  </a-scene>
