
  <body>


    <a-scene device-orientation-permission-ui="enabled: false" loading-screen="enabled: false;" embedded arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: {{ .Params.marker_type_sets}};">
        <!-- Check if there is a sky -->
        {{ if .Params.sky }}
        <a-assets timeout="10000">
            <video id="{{.Params.videoId}}" autoplay loop="true" src="{{ .Params.video_360 }}"> </video>


        </a-assets>
        <!-- Using the asset management system. -->
        <a-videosphere src="#{{.Params.videoId}}"></a-videosphere>
        {{end}}
        <!-- Get some data before your process -->
        {{ $exhibition_type := .Params.exhibition_types}}
        {{ $artTypeExhibition := .Params.artType }}
        {{ range .RegularPages }}
            <!--  Get all the data from the exhibition item ref -->
            {{ $position := .Params.position_artwork }}
            {{ $size := .Params.size_artwork }}
            {{ $exhibition_marker_type_set := .Parent.Params.marker_type_sets }}
            {{ $marker_id := .Params.marker_id }}

            <!-- Now start fetching related content -->
            {{ range .Site.RegularPages.Related . }}
                  {{ if eq .Type "artworks"}}
                      {{ if eq .Params.artType "2d"}}

                      <a-marker markerhandler type="{{$exhibition_type}}" value="{{$marker_id}}" id="{{$marker_id}}">
                        <a-image rotation="90 0 180" position="{{ $position }}" scale="{{ $size }}" src="/expo-dko/public/artworks/{{ .Params.model }}">
                        </a-image>

                      </a-marker>

                      {{ else }}

                      <a-marker markerhandler type="{{$exhibition_type}}" value="{{$marker_id}}" smooth="true" smoothCount="20" id="{{$marker_id}}">
                        <a-entity position="{{ $position }}" scale="{{ $size }}" gltf-model="/expo-dko/public/artworks/{{ .Params.model }}">
                        </a-entity>
                      </a-marker>
                      {{end}}
                    {{ end}}

            {{ end }}
        {{ end }}



    <!-- add a simple camera -->
    <a-entity camera></a-entity>
  </a-scene>
