{{ .Params.marker_type_sets}}


  {{ range .Paginator.Pages }}

    <!--  Get all the data from the exhibition item ref -->
    {{ $title_top := .Title }}
    {{ $position := .Params.position_artwork }}
    {{ $size := .Params.size_artwork }}
    {{ $exhibition_marker_type_set := .Parent.Params.marker_type_sets }}
    <!--  Start fetching data from the artworks, and print some of the data of page -->
    {{ with $related := .Site.RegularPages.Related . }}
      {{ range . }}
      1/{{ .Parent.Title }}
      {{ $artist := .Params.artists }}
      2/{{ $artist }}
      3/{{ $title_top }}
      4/{{ $size }}
      5/{{ $position }}

      7/{{ .Title }}


    {{ end }}

  {{ end }}
    <!-- single page card -->
    {{ partial "card.page.html" . }}
  {{ end }}
