{{ $exhibition_type := .Params.exhibition_types}}
{{ range .RegularPages }}
    <!--  Get all the data from the exhibition item ref -->
    {{ $marker_id := .Params.marker_id}}
    {{ $menu_button_id := .Params.marker_id}}
    <!-- Now start fetching related content -->
    {{ range .Site.RegularPages.Related . }}
          {{ $artist_work := .Params.artists }}
          <!-- First build the button for the description -->
          <div id="menu-description-{{ $marker_id }}" class="menu-description menu container context">
              <div class="row">
                  <div class="col">
                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#context-description-{{$marker_id}}">
                          Info
                      </button>
                  </div>
              </div>
          </div>


          <!-- Now build the description panel -->
          <div class="modal fade" id="context-description-{{$marker_id}}" tabindex="-1" role="dialog" aria-labelledby="context-description-{{$marker_id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Over het werk</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{ .Params.description }}
                </div>
              </div>
            </div>
          </div>
          <!-- First build the button for the artist -->
          <div id="menu-artist-{{$marker_id}}" class="menu-artist menu container context">
              <div class="row">
                  <div class="col">
                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#context-artist-{{$marker_id}}">
                          ?
                      </button>
                  </div>
              </div>
          </div>

          <!-- Now build the artist panel -->
          <div class="modal fade" id="context-artist-{{$marker_id}}" tabindex="-1" role="dialog" aria-labelledby="context-artist-{{$marker_id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Korte beschrijving van {{.Params.artists }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{.Title}} by {{.Params.artists }}
                </div>
              </div>
            </div>
          </div>

          <!-- First build the button for the video if present -->
          {{if .Params.video }}
          <div id="menu-video-{{$marker_id}}" class="menu-video menu container context">
              <div class="row">
                  <div class="col">
                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#context-video-{{$marker_id}}">
                           Video
                      </button>
                  </div>
              </div>
          </div>

          <!-- Now build the artist panel -->
          <div class="modal fade" id="context-video-{{$marker_id}}" tabindex="-1" role="dialog" aria-labelledby="context-video-{{$marker_id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Korte video over {{.Title }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe class="embed-responsive-item" src="{{.Params.video }}"></iframe>
                </div>
              </div>
            </div>
          </div>
          {{end}}


    {{ end }}
{{ end }}
