<body style="margin: 0; overflow: hidden;">
  <a-scene vr-mode-ui="enabled: false" embedded arjs="sourceType: webcam; debugUIEnabled: false;">

  {{ $exhibition_type := .Params.exhibition_types}}

  {{ range .RegularPages }}
    {{ $latitude := .Params.latitude }}
    {{ $longitude := .Params.longitude }}
    {{ $size := .Params.size_artwork }}
    {{ $position := .Params.position_artwork }}
    {{ range .Site.RegularPages.Related . }}
        <a-entity gps-entity-place="latitude: {{ $latitude }}; longitude: {{ $longitude }};" position="{{ $position }}" scale="{{ $size }}" gltf-model="/expo-dko/public/artworks/{{ .Params.model }}">
        </a-entity>
        <div style="visibility: hidden;">{{ .Params.credits }}</div>
    {{ end}}
  {{ end }}

    <a-camera gps-camera rotation-reader simulateLatitude="50.730520" simulateLongitude="3.805780"> </a-camera>
  </a-scene>
</body>

</html>
