{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<!-- list template -->

<div>

  {{ range (.Paginator.Pages.ByParam "finished") }}



  <div class="demo">
    {{if .Params.finished }}
    <div class="list-blocks">
      <h2>Demo</h2>
      <div class="list-blocks-title">
      <a href="{{ .RelPermalink }}"><span class="h3">{{ .Title }}</span></a> <!-- Added url prefix for Github -->
      <span class="description-block">{{ .Content }}</span>
      <ul class="list-bullet">
        <li><span>Displaying a total of {{ len .Pages }} virtual works of art.</span></li>

      <li>Use the following markers:</li>

            <ul>
              {{ range .RegularPages }}
              <li>{{  .Params.marker_id}}</li>
              {{end}}
            </ul>
        <br>
        <li class="list-bullet-link">
          <a href="{{ .RelPermalink }}">Demo</a>
        </li>

        </ul>
        </div>
      </div>

    </div>
    {{else}}
    <div class="list-blocks-unfinished">
      <h2>Early stage Demo</h2>
      <div class="list-blocks-title">
      <a href="{{ .RelPermalink }}"><span class="h3">{{ .Title }}</span></a> <!-- Added url prefix for Github -->
      <span class="description-block">{{ .Content }}</span>
      <ul class="list-bullet">
        <li><span>Een totaal van {{ len .Pages }} virtuele kunstwerken.</span></li>

      <li>Use the following markers:</li>

            <ul>
              {{ range .RegularPages }}
                {{ if .Params.marker_id }}
                <li>{{ .Params.marker_id}}</li>
                {{end}}
              {{end}}
            </ul>
        <br>
        <li class="list-bullet-link">
          <a href="{{ .RelPermalink }}">Demo</a>
        </li>

        </ul>
        </div>
      </div>

    </div>
    {{end}}



    <div >


    </div>
  </div>
  {{ end }}

</div>

{{ end }}
