{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<!-- list template -->

<div>

  {{ range .Paginator.Pages }}



  <div class="">
    <!-- single page card -->
    <div class="list-blocks">
      <div class="list-blocks-title">
      <a href="{{ .RelPermalink }}"><span class="h3">{{ .Title }}</span></a> <!-- Added url prefix for Github -->
      <ul class="list-bullet">
        <li><span class="text-right Counter Counter--gray">Een totaal van {{ len .Pages }} virtuele kunstwerken.</span></li>

      <li class="text-right Counter Counter--gray">Maakt gebruik van de marker(s):</li>

            <ul>
              {{ range .RegularPages }}
              <li>{{  .Params.marker_id}}</li>
              {{end}}
            </ul>
        <br>
        <li class="list-bullet-link">
          <a href="{{ .RelPermalink }}">Test de website</a>
        </li>

        </ul>
        </div>
      </div>

    </div>
    <div class="text-gray">


    </div>
  </div>
  {{ end }}

</div>

{{ end }}
